body {
    background-color: #000;
    color: #fff;
    font-family: 'VT323', monospace;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #C3B1E1;
    text-align: center;
}

a {
    text-decoration: none;
    color: #C3B1E1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
}

.identity {
    display: flex;
    align-items: center;
}

.identity img {
    max-width: 70px;
    margin-right: 10px;
}

.identity h1 {
    font-size: 1.5em;
    margin: 0;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 1em;
    padding: 0;
    margin: 0;
}

.navigation li {
    margin: 0;
}

.navigation a:hover {
    text-decoration: underline;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .navigation ul {
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
    }
}

.gallery {
    padding: 20px;
    text-align: center;
}

.gallery h2 {
    color: #C3B1E1;
    margin-bottom: 50px;
}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.gallery-item:hover img {
    transform: scale(1.05);
}

.gallery-item .description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 10px;
}

.gallery-item:hover .description {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
}

#modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.filters {
    text-align: center;
    margin: 1em 0;
  }
  
  .filters button {
    background-color: #C3B1E1;
    color: #000;
    border: none;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    cursor: pointer;
    font-family: 'VT323', monospace;
  }
  
  .filters button:hover {
    background-color: #9a82cc;
  }  

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}